In [ ]:
import pandas as pd 
import numpy as np
import json

In [ ]:
# users = pd.read_json('dataset/user.json', lines = True);


#https://stackoverflow.com/questions/46790390/how-to-read-a-large-json-in-pandas
with open('dataset/user.json') as json_file:      
    data = json_file.readlines()
    # this line below may take at least 8-10 minutes of processing for 4-5 million rows. It converts all strings in list to actual json objects. 
    data = list(map(json.loads, data)) 

users = pd.DataFrame(data)

In [4]:
from gender import getGenders

In [5]:
getGenders(["Brian","Apxple","Jessica","Zaeem","NotAName"])

[('male', 1, 4600),
 ('female', 0.81, 91),
 ('female', 1, 6696),
 ('male', 1, 2),
 ('None', '0.0', 0.0)]

In [6]:
names = users["name"].tolist()

NameError: name 'users' is not defined

In [ ]:
genders_tuples = getGenders(names)

In [ ]:
genders = [tup[0] for tup in genders_tuples]

In [ ]:
users["genders"] = genders

Work on tip and business data

In [3]:
tips = pd.read_json('dataset/tip.json', lines=True)
business = pd.read_json('dataset/business.json', lines = True)

In [8]:
business_tips = tips.groupby('business_id')

In [49]:
ordered_tip_count = business_tips.apply(lambda x: len(x))

In [40]:
business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,"4855 E Warner Rd, Ste B9","{'AcceptsInsurance': True, 'ByAppointmentOnly'...",FYWN1wneV18bWNgQjJ2GNg,"[Dentists, General Dentistry, Health & Medical...",Ahwatukee,"{'Friday': '7:30-17:00', 'Tuesday': '7:30-17:0...",1,33.330690,-111.978599,Dental by Design,,85044,22,4.0,AZ
1,3101 Washington Rd,"{'BusinessParking': {'garage': False, 'street'...",He-G7vWjzVUysIKrfNbPUQ,"[Hair Stylists, Hair Salons, Men's Hair Salons...",McMurray,"{'Monday': '9:00-20:00', 'Tuesday': '9:00-20:0...",1,40.291685,-80.104900,Stephen Szabo Salon,,15317,11,3.0,PA
2,"6025 N 27th Ave, Ste 1",{},KQPW8lFf1y5BT2MxiSZ3QA,"[Departments of Motor Vehicles, Public Service...",Phoenix,{},1,33.524903,-112.115310,Western Motor Vehicle,,85017,18,1.5,AZ
3,"5000 Arizona Mills Cr, Ste 435","{'BusinessAcceptsCreditCards': True, 'Restaura...",8DShNS-LuFqpEWIp0HxijA,"[Sporting Goods, Shopping]",Tempe,"{'Monday': '10:00-21:00', 'Tuesday': '10:00-21...",0,33.383147,-111.964725,Sports Authority,,85282,9,3.0,AZ
4,581 Howe Ave,"{'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...",PfOCPjBrlQAnz__NXj9h_w,"[American (New), Nightlife, Bars, Sandwiches, ...",Cuyahoga Falls,"{'Monday': '11:00-1:00', 'Tuesday': '11:00-1:0...",1,41.119535,-81.475690,Brick House Tavern + Tap,,44221,116,3.5,OH

In [64]:
ordered_tip_count.name = 'tip_count'

In [68]:
tip_review = pd.DataFrame(business[['stars', 'business_id', 'review_count']]).join(ordered_tip_count, on="business_id").sort_values(by='tip_count', ascending=False)
tip_review.head()

        stars             business_id  review_count  tip_count
169223    3.5  FaHADZARwnY4yvlvpnsfGA          3284     3517.0
4137      3.0  JmI9nslLD7KZqRr__Bg6NQ          2215     2382.0
139699    4.5  DkYS3arLOhA8si5uUEmHOw          4869     1474.0
80626     4.0  5LNZ67Yw9RD6nf4_UhXOjw          3772     1436.0
69993     3.5  K7lWdNUhCbcnEvI0NhGewg          5950     1346.0

In [69]:
tip_review.to_csv(path_or_buf='tip_review_correlation.csv')