In [1]:
import pandas as pd 
import numpy as np
import json

In [ ]:
# users = pd.read_json('dataset/user.json', lines = True);


#https://stackoverflow.com/questions/46790390/how-to-read-a-large-json-in-pandas
# with open('dataset/user.json') as json_file:      
#     data = json_file.readlines()
#     # this line below may take at least 8-10 minutes of processing for 4-5 million rows. It converts all strings in list to actual json objects. 
#     data = list(map(json.loads, data)) 

# users = pd.DataFrame(data)

In [4]:
from gender import getGenders

In [5]:
getGenders(["Brian","Apxple","Jessica","Zaeem","NotAName"])

[('male', 1, 4600),
 ('female', 0.81, 91),
 ('female', 1, 6696),
 ('male', 1, 2),
 ('None', '0.0', 0.0)]

In [6]:
names = users["name"].tolist()

NameError: name 'users' is not defined

In [ ]:
genders_tuples = getGenders(names)

In [ ]:
genders = [tup[0] for tup in genders_tuples]

In [ ]:
users["genders"] = genders

Work on tip and business data

In [3]:
tips = pd.read_json('dataset/tip.json', lines=True)
business = pd.read_json('dataset/business.json', lines = True)

In [8]:
business_tips = tips.groupby('business_id')

In [49]:
ordered_tip_count = business_tips.apply(lambda x: len(x))

In [40]:
business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,"4855 E Warner Rd, Ste B9","{'AcceptsInsurance': True, 'ByAppointmentOnly'...",FYWN1wneV18bWNgQjJ2GNg,"[Dentists, General Dentistry, Health & Medical...",Ahwatukee,"{'Friday': '7:30-17:00', 'Tuesday': '7:30-17:0...",1,33.330690,-111.978599,Dental by Design,,85044,22,4.0,AZ
1,3101 Washington Rd,"{'BusinessParking': {'garage': False, 'street'...",He-G7vWjzVUysIKrfNbPUQ,"[Hair Stylists, Hair Salons, Men's Hair Salons...",McMurray,"{'Monday': '9:00-20:00', 'Tuesday': '9:00-20:0...",1,40.291685,-80.104900,Stephen Szabo Salon,,15317,11,3.0,PA
2,"6025 N 27th Ave, Ste 1",{},KQPW8lFf1y5BT2MxiSZ3QA,"[Departments of Motor Vehicles, Public Service...",Phoenix,{},1,33.524903,-112.115310,Western Motor Vehicle,,85017,18,1.5,AZ
3,"5000 Arizona Mills Cr, Ste 435","{'BusinessAcceptsCreditCards': True, 'Restaura...",8DShNS-LuFqpEWIp0HxijA,"[Sporting Goods, Shopping]",Tempe,"{'Monday': '10:00-21:00', 'Tuesday': '10:00-21...",0,33.383147,-111.964725,Sports Authority,,85282,9,3.0,AZ
4,581 Howe Ave,"{'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...",PfOCPjBrlQAnz__NXj9h_w,"[American (New), Nightlife, Bars, Sandwiches, ...",Cuyahoga Falls,"{'Monday': '11:00-1:00', 'Tuesday': '11:00-1:0...",1,41.119535,-81.475690,Brick House Tavern + Tap,,44221,116,3.5,OH

In [64]:
ordered_tip_count.name = 'tip_count'

In [65]:
pd.DataFrame(business[['stars', 'business_id', 'review_count']]).join(ordered_tip_count, on="business_id").sort_values(by='tip_count', ascending=False)

        stars             business_id  review_count  tip_count
169223    3.5  FaHADZARwnY4yvlvpnsfGA          3284     3517.0
4137      3.0  JmI9nslLD7KZqRr__Bg6NQ          2215     2382.0
139699    4.5  DkYS3arLOhA8si5uUEmHOw          4869     1474.0
80626     4.0  5LNZ67Yw9RD6nf4_UhXOjw          3772     1436.0
69993     3.5  K7lWdNUhCbcnEvI0NhGewg          5950     1346.0
170798    4.5  hihud--QRriCYZw1zZvW4g          3262     1287.0
119907    4.0  RESDUcs7fIiihp38-d6_6g          7009     1149.0
166920    3.5  yfxDa8RFOvJPQh0rNtakHA          2594     1062.0
97944     4.0  4JNXUYY8wbaaDmk3BPzlWw          7361     1038.0
25096     4.0  iCQpiavjjPzJ5_3gPD5Ebg          3741     1033.0
26748     3.5  SMPbvZLSMMb7KU76YNYMGg          3794      996.0
116002    4.0  7sPNbCx7vGAaH7SbNPZ6oA          3065      981.0
20329     4.0  UPIYuRaZvknINOd1w8kqRQ          2291      959.0
21006     3.0  eoHdUeQDNgQ6WYEnP2aiRw          3910      940.0
110292    3.5  yQab5dxZzgBLTEHCw9V7_w          1586      900.0
169568    3.5  JyxHvtj-syke7m9rbza7mA          1674      888.0
64024     4.0  LNGBEEelQx4zbfWnlc66cw          2030      854.0
160846    3.5  WUq8HJHIZU4uteB154XN7w          2130      831.0
19191     4.0  f4x1YBxkLrZg652xt2KR5g          4774      800.0
10567     3.0  El4FC8jcawUVgw_0EIcbaQ          3444      759.0
112523    4.0  Wxxvi3LZbHNIDwJ-ZimtnA          3101      758.0
81212     4.0  cYwJA2A6I12KNkm2rtXd5g          5447      753.0
124412    4.0  KskYqH1Bi7Z_61pH6Om8pg          3964      750.0
138823    3.0  YBLVD61RFdP5H-RGLSIPUw           368      739.0
126918    3.5  na4Th5DrNauOv-c43QQFvA          2780      726.0
152492    4.5  JzOp695tclcNCNMuBl7oxA          1965      718.0
69105     3.5  eAc9Vd6loOgRQolMXQt6FA          2687      688.0
50087     4.0  g8OnV26ywJlZpezdBnOWUQ          3050      678.0
123599    4.5  awI4hHMfa7H0Xf0-ChU5hg          2125      666.0
6670      2.5  AV6weBrZFFBfRGCbcRGO4g          3621      662.0
...       ...                     ...           ...        ...
174489    3.0  jMFBNaDGtfigT6Zj__CBRA             4        NaN
174492    2.5  -fB13pKh73VfdOBGS5JezA            41        NaN
174496    2.5  G1DRv6ZmGUhv23cy1Ar4sw             3        NaN
174497    3.5  5s3V5Ql6mCeLdpJ-ds_FAg             7        NaN
174498    5.0  r2cg8rPkpdBPn2R7kFJB8g             3        NaN
174502    3.5  Ywd1OQ-dnQnOqLXlTw-O1w             5        NaN
174504    2.5  5zva2MTtB5IX6TaoVLL-NA             3        NaN
174507    1.0  3zIy2T1bRwxvK-dRmopS_g             4        NaN
174508    5.0  JcWFeZvmNyRcR83Inc4csw             3        NaN
174509    5.0  w4bEHdlfpeqbnlvQ1ZGD1w             3        NaN
174511    5.0  m2zdgAvQZ7R3iC-YJ9ePKw            10        NaN
174515    5.0  OmSXZK0wHE8JY-0vg84P3A             5        NaN
174525    5.0  Fbn3idu4uKvWVx3jGWDpnw             3        NaN
174527    3.0  ntomYrGHGViYGBFmsBGRpQ             9        NaN
174528    4.5  PCj1wDpVyb6y_h0RulVaHg            11        NaN
174529    2.5  H_WMApjS1TVOZme3qaQrTQ             3        NaN
174530    4.0  WGOBgUeuRrrnRp5R5SMKAQ             4        NaN
174533    4.5  6AGvafGH6q6x5yQnHIQwHQ            23        NaN
174534    2.5  qbMN30jySx1-qShrymti8w             3        NaN
174538    2.0  axvE68Q_osdFijj1a21Omw            19        NaN
174542    4.5  BhcpdT3W7YeyFeVAWPolkQ            10        NaN
174547    5.0  OMXqIZdvhDlrXlkpR34diQ             4        NaN
174548    3.0  FxtrmM1a_0jcNnxiEF_Emg            21        NaN
174550    4.0  R2oTFgwyurdx8fmZh7uAGg             4        NaN
174552    5.0  9ouC6BpmjFpLfHeQnLQqng             5        NaN
174555    3.0  yJH_gq99aEj8xtyBaAQH8Q            52        NaN
174557    3.5  fp97iuseEoP7SGv74lSnhQ             5        NaN
174561    3.0  kLFm_kehXNZkUc1oa2-Eaw             4        NaN
174563    5.0  gRGalHVu6BcaUDIAGVW_xQ             3        NaN
174564    1.5  XXvZBIHoJBU5d6-a-oyMWQ            19        NaN

[174567 rows x 4 columns]