In [2]:
import pandas as pd 
import numpy as np

In [3]:
checkins = pd.read_json('dataset/checkin.json', lines = True);
business = pd.read_json('dataset/business.json', lines = True);
# users = pd.read_json('dataset/user.json', lines = True);
# tips = pd.read_json('dataset/tip.json', lines = True);
# reviews = pd.read_json('dataset/reviews.json', lines = True);
# photos = pd.read_json('dataset/photos.json', lines = True);

In [4]:
checkins.tail()
business = business.set_index('business_id')
business.head()

,address,attributes,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
business_id,,,,,,,,,,,,,,
FYWN1wneV18bWNgQjJ2GNg,"4855 E Warner Rd, Ste B9","{'AcceptsInsurance': True, 'ByAppointmentOnly'...","[Dentists, General Dentistry, Health & Medical...",Ahwatukee,"{'Friday': '7:30-17:00', 'Tuesday': '7:30-17:0...",1,33.330690,-111.978599,Dental by Design,,85044,22,4.0,AZ
He-G7vWjzVUysIKrfNbPUQ,3101 Washington Rd,"{'BusinessParking': {'garage': False, 'street'...","[Hair Stylists, Hair Salons, Men's Hair Salons...",McMurray,"{'Monday': '9:00-20:00', 'Tuesday': '9:00-20:0...",1,40.291685,-80.104900,Stephen Szabo Salon,,15317,11,3.0,PA
KQPW8lFf1y5BT2MxiSZ3QA,"6025 N 27th Ave, Ste 1",{},"[Departments of Motor Vehicles, Public Service...",Phoenix,{},1,33.524903,-112.115310,Western Motor Vehicle,,85017,18,1.5,AZ
8DShNS-LuFqpEWIp0HxijA,"5000 Arizona Mills Cr, Ste 435","{'BusinessAcceptsCreditCards': True, 'Restaura...","[Sporting Goods, Shopping]",Tempe,"{'Monday': '10:00-21:00', 'Tuesday': '10:00-21...",0,33.383147,-111.964725,Sports Authority,,85282,9,3.0,AZ
PfOCPjBrlQAnz__NXj9h_w,581 Howe Ave,"{'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...","[American (New), Nightlife, Bars, Sandwiches, ...",Cuyahoga Falls,"{'Monday': '11:00-1:00', 'Tuesday': '11:00-1:0...",1,41.119535,-81.475690,Brick House Tavern + Tap,,44221,116,3.5,OH

We need to flatten out the time object for each checkin, and create a new dataframe with the checkins per timeslot linked to the business id.

In [5]:
from pandas.io.json import json_normalize
new_checkins = json_normalize(checkins['time'])
new_checkins['business_id'] = checkins['business_id']
flat_checkins = new_checkins.set_index('business_id')

In [6]:
flat_checkins.tail()

,Friday.0:00,Friday.10:00,Friday.11:00,Friday.12:00,Friday.13:00,Friday.14:00,Friday.15:00,Friday.16:00,Friday.17:00,Friday.18:00,...,Wednesday.22:00,Wednesday.23:00,Wednesday.2:00,Wednesday.3:00,Wednesday.4:00,Wednesday.5:00,Wednesday.6:00,Wednesday.7:00,Wednesday.8:00,Wednesday.9:00
business_id,,,,,,,,,,,,,,,,,,,,,
z4EIzLJlGd7gyje1Q_hKtw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cQvAOJPEoXqi2IUwqDwo6w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xf72Yt6l6YUcqz7xCrWSwQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZqTXN4qh0Ta1Lp8Z3v-dKg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aY0ZSpAK7h7-SmP6KVS8oA,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now, we can apply a lambda function to each column and sort the result to see which times have the most checkins. From the data, it appears that the weekend lunch and dinner rushes have the most number of checkins on Yelp.

In [19]:
ordered_checkins = flat_checkins.apply(lambda ser: ser.sum()).sort_values(ascending=False)
ordered_checkins.head(10)

Saturday.19:00    251537.0
Saturday.20:00    246969.0
Saturday.1:00     245453.0
Saturday.2:00     236195.0
Sunday.1:00       235295.0
Saturday.21:00    229788.0
Sunday.19:00      229561.0
Saturday.18:00    225651.0
Sunday.0:00       225209.0
Sunday.2:00       224716.0
dtype: float64

Now, we need to sum each business's checkins and use that data to build up checkin counts for each category.

In [31]:
joined_businesses = flat_checkins.join(business['categories'])
business_checkins = flat_checkins.sum(axis=1)

In [32]:
business_checkins.head()

business_id
7KPBkxAOEtb3QeIL9PEErg    129.0
kREVIrSBbtqBhIYkTccQUg      7.0
tJRDll5yqpZwehenzE2cSg      5.0
r1p7RAMzCV_6NPF0dNoR3g      5.0
mDdqgfrvROGAumcQdZ3HIg     29.0
dtype: float64

Create a table of all categories by extracting the categories from each business's category array.

In [49]:
categories_flat = pd.DataFrame(joined_businesses['categories'].values.tolist(), index=joined_businesses.index)

In [53]:
categories = pd.Series(pd.unique(np.concatenate(categories_flat.values)))
categories

0                      Automotive
1                    Gas Stations
2                            Food
3              Convenience Stores
4                            None
5                     Active Life
6                 Amusement Parks
7                 Bed & Breakfast
8                 Hotels & Travel
9                          Hotels
10      Event Planning & Services
11                       Caterers
12          Venues & Event Spaces
13               Wedding Planning
14                     Sandwiches
15                          Pizza
16                    Restaurants
17                        Burgers
18                           Bars
19         American (Traditional)
20                 American (New)
21                      Nightlife
22                    Sports Bars
23                    Steakhouses
24         Party & Event Planning
25                    Landscaping
26                  Home Services
27                           Golf
28                        Chinese
29                  Orthodontists
                  ...
1245                     Sicilian
1246                      Reunion
1247                    Guamanian
1248                   Snorkeling
1249                     Kombucha
1250           Rotisserie Chicken
1251         EV Charging Stations
1252                       Hainan
1253                DIY Auto Shop
1254        Traditional Norwegian
1255                   Senegalese
1256           Pop-Up Restaurants
1257           Indoor Landscaping
1258                 Themed Cafes
1259         Hong Kong Style Cafe
1260                       Choirs
1261          Cannabis Collective
1262                         Udon
1263                      Churros
1264               Cannabis Tours
1265              Drive-Thru Bars
1266      Virtual Reality Centers
1267                Bubble Soccer
1268            Medical Foot Care
1269               Outdoor Movies
1270                      Tempura
1271                     Tonkatsu
1272           Kitchen Incubators
1273          Elder Care Planning
1274          Conveyor Belt Sushi
Length: 1275, dtype: object