In [18]:
import pandas as pd 
import numpy as np

In [19]:
checkins = pd.read_json('dataset/checkin.json', lines = True);
# business = pd.read_json('dataset/business.json', lines = True);
# users = pd.read_json('dataset/user.json', lines = True);
# tips = pd.read_json('dataset/tip.json', lines = True);
# reviews = pd.read_json('dataset/reviews.json', lines = True);
# photos = pd.read_json('dataset/photos.json', lines = True);

In [20]:
len(checkins)

146350

In [25]:
checkins.tail()

,business_id,time
146345,z4EIzLJlGd7gyje1Q_hKtw,"{'Friday': {'22:00': 1}, 'Saturday': {'20:00':..."
146346,cQvAOJPEoXqi2IUwqDwo6w,"{'Tuesday': {'23:00': 24}, 'Wednesday': {'14:0..."
146347,xf72Yt6l6YUcqz7xCrWSwQ,{'Friday': {'21:00': 1}}
146348,ZqTXN4qh0Ta1Lp8Z3v-dKg,"{'Friday': {'16:00': 1, '23:00': 2}, 'Saturday..."
146349,aY0ZSpAK7h7-SmP6KVS8oA,"{'Friday': {'15:00': 1, '1:00': 1}, 'Thursday'..."

In [21]:
new = json_normalize(checkins['time'])

In [22]:
len(new)

146350

In [26]:
from pandas.io.json import json_normalize
new_check = checkins.append(json_normalize(checkins['time']))

In [27]:
new_check.tail()

,Friday.0:00,Friday.10:00,Friday.11:00,Friday.12:00,Friday.13:00,Friday.14:00,Friday.15:00,Friday.16:00,Friday.17:00,Friday.18:00,...,Wednesday.2:00,Wednesday.3:00,Wednesday.4:00,Wednesday.5:00,Wednesday.6:00,Wednesday.7:00,Wednesday.8:00,Wednesday.9:00,business_id,time
146345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146349,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN