In [1]:
import pandas as pd 
import numpy as np

In [2]:
checkins = pd.read_json('dataset/checkin.json', lines = True);
# business = pd.read_json('dataset/business.json', lines = True);
# users = pd.read_json('dataset/user.json', lines = True);
# tips = pd.read_json('dataset/tip.json', lines = True);
# reviews = pd.read_json('dataset/reviews.json', lines = True);
# photos = pd.read_json('dataset/photos.json', lines = True);

In [3]:
len(checkins)

146350

In [4]:
checkins.tail()

,business_id,time
146345,z4EIzLJlGd7gyje1Q_hKtw,"{'Friday': {'22:00': 1}, 'Saturday': {'20:00':..."
146346,cQvAOJPEoXqi2IUwqDwo6w,"{'Tuesday': {'23:00': 24}, 'Wednesday': {'14:0..."
146347,xf72Yt6l6YUcqz7xCrWSwQ,{'Friday': {'21:00': 1}}
146348,ZqTXN4qh0Ta1Lp8Z3v-dKg,"{'Friday': {'16:00': 1, '23:00': 2}, 'Saturday..."
146349,aY0ZSpAK7h7-SmP6KVS8oA,"{'Friday': {'15:00': 1, '1:00': 1}, 'Thursday'..."

In [5]:
checkins['business_id'].tail()

146345    z4EIzLJlGd7gyje1Q_hKtw
146346    cQvAOJPEoXqi2IUwqDwo6w
146347    xf72Yt6l6YUcqz7xCrWSwQ
146348    ZqTXN4qh0Ta1Lp8Z3v-dKg
146349    aY0ZSpAK7h7-SmP6KVS8oA
Name: business_id, dtype: object

In [6]:
# new = json_normalize(checkins['time'])

In [7]:
# len(new)

In [12]:
from pandas.io.json import json_normalize
# checkins = checkins.set_index('business_id')
new_checkins = json_normalize(checkins['time'])
new_checkins['business_id'] = checkins['business_id']

In [13]:
new_checkins.head()

,Friday.0:00,Friday.10:00,Friday.11:00,Friday.12:00,Friday.13:00,Friday.14:00,Friday.15:00,Friday.16:00,Friday.17:00,Friday.18:00,...,Wednesday.23:00,Wednesday.2:00,Wednesday.3:00,Wednesday.4:00,Wednesday.5:00,Wednesday.6:00,Wednesday.7:00,Wednesday.8:00,Wednesday.9:00,business_id
0,2.0,2.0,NaN,NaN,NaN,2.0,1.0,1.0,1.0,1.0,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,7KPBkxAOEtb3QeIL9PEErg
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kREVIrSBbtqBhIYkTccQUg
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tJRDll5yqpZwehenzE2cSg
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,r1p7RAMzCV_6NPF0dNoR3g
4,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mDdqgfrvROGAumcQdZ3HIg

In [16]:
new_checkins.tail()

,Friday.0:00,Friday.10:00,Friday.11:00,Friday.12:00,Friday.13:00,Friday.14:00,Friday.15:00,Friday.16:00,Friday.17:00,Friday.18:00,...,Wednesday.23:00,Wednesday.2:00,Wednesday.3:00,Wednesday.4:00,Wednesday.5:00,Wednesday.6:00,Wednesday.7:00,Wednesday.8:00,Wednesday.9:00,business_id
146345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,z4EIzLJlGd7gyje1Q_hKtw
146346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cQvAOJPEoXqi2IUwqDwo6w
146347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,xf72Yt6l6YUcqz7xCrWSwQ
146348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZqTXN4qh0Ta1Lp8Z3v-dKg
146349,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,aY0ZSpAK7h7-SmP6KVS8oA

In [18]:
new_checkins = new_checkins.set_index('business_id')

In [20]:
new_checkins.head(10)

,Friday.0:00,Friday.10:00,Friday.11:00,Friday.12:00,Friday.13:00,Friday.14:00,Friday.15:00,Friday.16:00,Friday.17:00,Friday.18:00,...,Wednesday.22:00,Wednesday.23:00,Wednesday.2:00,Wednesday.3:00,Wednesday.4:00,Wednesday.5:00,Wednesday.6:00,Wednesday.7:00,Wednesday.8:00,Wednesday.9:00
business_id,,,,,,,,,,,,,,,,,,,,,
7KPBkxAOEtb3QeIL9PEErg,2.0,2.0,NaN,NaN,NaN,2.0,1.0,1.0,1.0,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
kREVIrSBbtqBhIYkTccQUg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tJRDll5yqpZwehenzE2cSg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
r1p7RAMzCV_6NPF0dNoR3g,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mDdqgfrvROGAumcQdZ3HIg,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nhZ1HGWD8lMErdn3FuWuTQ,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
vDoXZGE7p6xAkKQ0XQPvoA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8bY6M2yiWOF2ilfmGS34Fw,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zNVot5_XHsxwfKdiFjk_aA,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BH0K6SxPnY3wTRB7tA27hQ,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN