In [16]:
import pandas as pd
import numpy as np

In [17]:
checkins = pd.read_json('dataset/checkin.json', lines = True);
business = pd.read_json('dataset/business.json', lines = True);

# Checkin and business data
## Time breakdown

In [4]:
checkins.head()

              business_id                                               time
0  7KPBkxAOEtb3QeIL9PEErg  {'Thursday': {'21:00': 4, '1:00': 1, '4:00': 1...
1  kREVIrSBbtqBhIYkTccQUg  {'Monday': {'13:00': 1}, 'Thursday': {'20:00':...
2  tJRDll5yqpZwehenzE2cSg  {'Monday': {'12:00': 1, '1:00': 1}, 'Friday': ...
3  r1p7RAMzCV_6NPF0dNoR3g  {'Thursday': {'23:00': 1}, 'Saturday': {'21:00...
4  mDdqgfrvROGAumcQdZ3HIg  {'Monday': {'12:00': 1, '21:00': 1}, 'Wednesda...

We need to flatten out the time object for each checkin, and create a new dataframe with the checkins per timeslot linked to the business id.

In [9]:
from pandas.io.json import json_normalize
new_checkins = json_normalize(checkins['time'])
new_checkins['business_id'] = checkins['business_id']
flat_checkins = new_checkins.set_index('business_id')

In [6]:
flat_checkins.tail()

,Friday.0:00,Friday.10:00,Friday.11:00,Friday.12:00,Friday.13:00,Friday.14:00,Friday.15:00,Friday.16:00,Friday.17:00,Friday.18:00,...,Wednesday.22:00,Wednesday.23:00,Wednesday.2:00,Wednesday.3:00,Wednesday.4:00,Wednesday.5:00,Wednesday.6:00,Wednesday.7:00,Wednesday.8:00,Wednesday.9:00
business_id,,,,,,,,,,,,,,,,,,,,,
z4EIzLJlGd7gyje1Q_hKtw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cQvAOJPEoXqi2IUwqDwo6w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xf72Yt6l6YUcqz7xCrWSwQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZqTXN4qh0Ta1Lp8Z3v-dKg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aY0ZSpAK7h7-SmP6KVS8oA,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now, we can apply a lambda function to each column and sort the result to see which times have the most checkins. From the data, it appears that the weekend lunch and dinner rushes have the most number of checkins on Yelp.

In [7]:
ordered_checkins = flat_checkins.apply(lambda ser: ser.sum()).sort_values(ascending=False)
pd.DataFrame(ordered_checkins).to_csv(path_or_buf='checkin_times.csv')
ordered_checkins.head(10)

Saturday.19:00    251537.0
Saturday.20:00    246969.0
Saturday.1:00     245453.0
Saturday.2:00     236195.0
Sunday.1:00       235295.0
Saturday.21:00    229788.0
Sunday.19:00      229561.0
Saturday.18:00    225651.0
Sunday.0:00       225209.0
Sunday.2:00       224716.0
dtype: float64

This data can be visualized as follows, and we can see from the graph that for every day of the week checkins drop around midday before reaching their peak near nighttime, presumably as people finish their work and go to dinner or businesses.

This is a visualization of checkins per hour, broken down by what day of the week they occured.

<img src="checkin1.png" alt="checkins by day and hour" style="width: 500px;"/>

When looking at what day each checkin appears, the weekend understandably is a lot more popular with consumers.

<img src="checkin2.png" alt="checkins by day" style="width: 300px;"/>
<img src="checkin3.png" alt="checkins by day number" style="width: 500px;"/>

When looking at the checkin times for Saturday, most times appear similar to the week breakdown; people are still not as likely to be out at businesses around the middle of the day.

<img src="checkin4.png" alt="Saturday checkins" style="width: 500px;"/>

## Category breakdown

Now, we will sum each business's checkins and use that data to build up checkin counts for each category.

In [27]:
joined_businesses = flat_checkins.join(business['categories'])
business_checkins = flat_checkins.sum(axis=1, numeric_only=True)

In [9]:
business_checkins.name = 'total_checkins'
business_checkins.head()

business_id
7KPBkxAOEtb3QeIL9PEErg    129.0
kREVIrSBbtqBhIYkTccQUg      7.0
tJRDll5yqpZwehenzE2cSg      5.0
r1p7RAMzCV_6NPF0dNoR3g      5.0
mDdqgfrvROGAumcQdZ3HIg     29.0
Name: total_checkins, dtype: float64

We can see each business's categories, but it difficult to work with due to it being stored in an array.

In [10]:
s1 = pd.DataFrame(business['categories'])
s2 = pd.DataFrame(business_checkins)
business_category_checkins = pd.merge(s1, s2, how='left', left_index=True, right_index=True)
business_category_checkins = business_category_checkins.reset_index()
business_category_checkins.head()

   index                                         categories  total_checkins
0      0  [Dentists, General Dentistry, Health & Medical...             NaN
1      1  [Hair Stylists, Hair Salons, Men's Hair Salons...             NaN
2      2  [Departments of Motor Vehicles, Public Service...             NaN
3      3                         [Sporting Goods, Shopping]             NaN
4      4  [American (New), Nightlife, Bars, Sandwiches, ...             NaN

In order to better explore each category's checkins, we can reshape the array by splitting each category from the array into its own row, complete with business and checkin information.

In [11]:
from  itertools import chain
#https://stackoverflow.com/questions/40280265/python-pandas-flatten-with-arrays-in-column
df = pd.DataFrame({
        "business_id": np.repeat(business_category_checkins.business_id.values, business_category_checkins.categories.str.len()),
        "total_checkins": np.repeat(business_category_checkins.total_checkins.values, business_category_checkins.categories.str.len()),
        "category": list(chain.from_iterable(business_category_checkins.categories))})
df.head()

AttributeError: 'DataFrame' object has no attribute 'business_id'

From this dataframe it is trivial to create a pivot table that sums up checkins for each category.

In [ ]:
category_checkins = df.pivot_table( index='category', values='total_checkins', aggfunc=sum).sort_values(by='total_checkins', ascending=False)
category_checkins.to_csv(path_or_buf='category_checkins.csv')
category_checkins[category_checkins['total_checkins'] > 0].tail(10)

The most popular categories are restauraunts, bars, and nightlife:

<img src="category1.png" alt="most popular categories" style="width: 100%;"/>

# Tip and review correlation

We are interested in seeing if there is any difference in the different ways users interact with businesses. As such, we wanted to compare tip and review counts for a business, along with also looking at the rating for that business.

In [43]:
tips = pd.read_json('dataset/tip.json', lines=True)
business_tips = tips.groupby('business_id')

We can use a lambda function to get the number of tips for each business:

ordered_tip_count = business_tips.apply(lambda x: len(x))
ordered_tip_count.name = 'tip_count'
ordered_tip_count.head()

From there, we can join the series to a subset of the business table with review counts and stars and sort the result.

In [ ]:
business = business.reset_index()
tip_review = pd.DataFrame(business[['stars', 'business_id', 'review_count']]).join(ordered_tip_count, on="business_id").sort_values(by='tip_count', ascending=False)
tip_review.to_csv(path_or_buf='tip_review_correlation.csv')
tip_review.head()

To examine the relationship between these variables, we decided to create multiple graphs displaying the correlation between stars and the number of tips and reviews at a business. Tips and reviews seem to have a relatively strong correlation, at a correlation coefficient of .7038888:

<img src="reviewtip2.png" alt="state ratings" style="width: 80%;"/>

When looking at the correlations between tips and reviews and the business's star rating, both measures indicate a similar correlation with reviews - most reviews and tips for a business seem to be around a 4-star rating for that business.

<img src="reviewtip1.png" alt="state ratings" style="width: 45%; float: left;"/>
<img src="reviewtip3.png" alt="state ratings" style="width: 45%; float: right;"/>

# Locations of reviews and utilization

In [ ]:
zipcodes = business[['state', 'postal_code', 'stars', 'review_count']].groupby(by='postal_code')
len(zipcodes)

After grouping, we filter out groups so that only valid US zipcodes are remaining. After this, we apply two lambdas on the remaining groups in order to determine each postal code's average star count and total number of reviews.

In [54]:
import re

zipcode_regex = "^[0-9]{5}(-/d{4})?$"

allowed_zipcodes = zipcodes.filter(lambda x: re.match(zipcode_regex, x.name) != None).groupby('postal_code')
zipcode_ratings = allowed_zipcodes.apply(lambda grp: grp['stars'].sum() / len(grp))
zipcode_counts = allowed_zipcodes.apply(lambda grp: grp['review_count'].sum())

After creating the series of ratings and counts, we can join them into one dataframe and display the result.

In [ ]:
zipcodes_df = pd.DataFrame(zipcode_ratings)
zipcodes_df.loc[:,'1'] = zipcode_counts
zipcodes_df.columns = ['stars', 'review_count']
zipcodes_df.to_csv(path_or_buf='./zipcode_review.csv')
zipcodes_df.head(10)

When working in Tableau, we joined the table of zipcodes with a table of states, and were able to average the zipcodes out over a map of the states.

<img src="state_ratings.png" alt="state ratings" style="width: 90%;"/>

Plotting individual postal codes on a map of the United States was, in hindsight, a difficult thing to visualize. Rather than try to graph tiny postal codes on a map, we chose to display it in two ways: with a chart displaying each postal code's reviews and ratings as a dot, and with a bar graph displaying the top 10 best rated zip codes.

<img src="zipcode2.png" alt="state ratings" style="width: 45%; float"/>
<img src="zipcode2.png" alt="state ratings" style="width: 45%"/>

<img src="zipcode3.png" alt="state ratings" style="width: 90%;"/>